<div id="view-tariffs" class="view active">
    <div class="card-list">
        <div class="tariff-card highlight bounce" data-price="333">
            <div class="badge">Выгодно</div>
            <div class="card-header">
                <span class="material-symbols-rounded icon">rocket_launch</span>
                <h3>Максимальный</h3>
            </div>
            <p class="description">Доступ ко всему + прокси для Telegram. Безлимитный трафик и максимальная скорость.</p>
            <div class="price">333 ₽ <span>/ месяц</span></div>
        </div>

        <div class="tariff-card bounce" data-price="300">
            <div class="card-header">
                <span class="material-symbols-rounded icon">vpn_lock</span>
                <h3>Продвинутый</h3>
            </div>
            <p class="description">Доступ к обходу белых списков и каскадным VPN. Безлимитный трафик.</p>
            <div class="price">300 ₽ <span>/ месяц</span></div>
        </div>

        <div class="tariff-card bounce" data-price="150">
            <div class="card-header">
                <span class="material-symbols-rounded icon">public</span>
                <h3>Базовый</h3>
            </div>
            <p class="description">Иностранные VPN без обходов белых списков. Безлимитный трафик.</p>
            <div class="price">150 ₽ <span>/ месяц</span></div>
        </div>
    </div>
</div>
