<div id="view-connection" class="view">
    <div class="view-content-wrapper">
        <div class="subscription-info">
            <div class="info-item">
                <span class="label">Осталось времени</span>
                <span class="value">28 дней</span>
            </div>
            <div class="info-item">
                <span class="label">Пользователь</span>
                <span class="value" id="connection-username">@username</span>
            </div>
        </div>

        <div class="server-selector bounce">
            <div class="server-info">
                <span class="material-symbols-rounded">flag</span>
                <div class="server-details">
                    <span class="server-name">Нидерланды, Амстердам</span>
                    <span class="server-ping">Доступно</span>
                </div>
            </div>
            <span class="material-symbols-rounded">chevron_right</span>
        </div>
    </div>
</div>
